<div>
    <div>
         <div id="card1" class="flex  gap-6 p-6 bottom-3 top-3 w-full">
            <div class="flex border shadow p-4 w-1/2  justify-center">
                <div class="text-blue-900 text-2xl relative justify-end"><i class="bi bi-person-fill"></i></div>
                <p class="text-blue-900 text-2xl justify-start">  Cutomers : {{NbCustomers}} </p>
            </div>
            <div class="flex border shadow p-4 w-1/2 justify-center">
                <p class="text-blue-900 text-2xl ">  Number : {{TotalBalance}} </p>
                <div class="text-blue-900 text-2xl relative">     <i class="bi bi-coin"></i></div> 
            </div>
         </div>
         <div id="card2" class="flex  text-center relative gap-6 p-6 bottom-3 top-3 w-full">
            <div class="h1/2 relative border shadow p-4">
                <div class="  pborder shadow p-4">
                    <canvas id="myChart"> </canvas>
                </div>
                <div class="  pborder shadow p-4">
                    <canvas id="Male-FemaleChart"> </canvas>
                </div>
            </div>
            <div style="width: 60%;" class=" justify-end  text-center flex relative ">
                <canvas id="balance"> </canvas>

            </div>
             
         </div>
    </div>
</div>